@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
  padding: 0;
  margin: 0;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}

.display{
  display: flex;
}

.brand{
  font-size: 2.7rem;
  font-weight: 700;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.btn{
  background-color: #FF900E;
  color: white;
  padding: 21px 24px 20px 25px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 5px;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  list-style: none;
  margin-right: 50px;
}

.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.text-gray{
  color: #424242;
}

.text-light-gray{
  color: #727272;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 50px;
}

.banner-title{
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-details{
  line-height: 26px;
}

.banner-img{
  width: 100%;
}

.teams{
  align-items: center;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features{
  padding-left: 74px;
  max-width: 537px;
}

.Quick-list{
  font-weight: 500;
}

.part-3{
  color: #FF900E;
}

.feature-description{
  line-height: 24px;
}


@media screen and (max-width:576px) {
  .navbar, .nav-links, .teams{
    flex-direction: column;
  }

  .brand{
    margin-bottom: 40px;
  }

  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }

  .our-features{
    margin: 50px 20px;
  }
}

@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 50px;
  }
}
