@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
  padding: 0;
  margin: 0;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}

.display{
  display: flex;
}

.brand{
  font-size: 2.7rem;
  font-weight: 700;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.btn{
  background-color: #FF900E;
  color: white;
  padding: 21px 24px 20px 25px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 5px;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  list-style: none;
  margin-right: 50px;
}

.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.text-gray{
  color: #424242;
}

.text-light-gray{
  color: #727272;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 50px;
}

.banner-title{
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-details{
  line-height: 26px;
}

.banner-img{
  width: 100%;
}

.teams{
  align-items: center;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features{
  padding-left: 74px;
  max-width: 537px;
}

.Quick-list{
  font-weight: 500;
}

.part-3{
  color: #FF900E;
}

.feature-description{
  line-height: 24px;
}

#features-section-title{
  border-left: 3px solid #FF900E;
  padding-left: 22px;
}

.features{
  gap: 140px;
}

.features-card{
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.features-card .features-title{
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.featured-architect img{
  width: 100%;
}

#experiance-badge{
  padding: 46px 42px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: -100px;
  margin-top: -100px;
}

#experiance-year{
  font-size: 4rem;
  font-weight: bold;
}

.fact-description{
  max-width: 542px;
  line-height: 26px;
  margin-bottom: 50px;
}

.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card{
  border: 3px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

.sponsors-info{
  max-width: 542px;
  margin: 50px auto;
  text-align: center;
}

.sponsors-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  filter: grayscale(100%);
}



@media screen and (max-width:576px) {
  .navbar, .nav-links, .teams, .features{
    flex-direction: column;
  }

  .brand{
    margin-bottom: 40px;
  }

  .section-title, .fact-description{
    margin-left: 10px;
  }

  .team-img-container, 
  .facts-container,
  .sponsors-companies
  {
    grid-template-columns: 1fr;
  }

  .facts-container, .sponsors-companies{
    justify-items: center;
    gap: 30px;
  }

  .features{
    align-items: center;
  }

  .our-features{
    margin-left: 20px;
  }

  #experiance-badge{
    margin-top: 20px;
    margin-left: 20px;
  }
}

@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }

  .section-title, .fact-description{
    margin-left: 20px;
  }

  .facts-container{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
  }

  .sponsors-companies{
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
  }
}
